@red: #990000;
@yellow: darken(#FC0, 15%);
@green: #009966;
@purple: #9900f9;
body{
  font-size: 100%;
  padding-bottom: 60px;
  background-color: #eee;
}
body.icons{
  background-color: #ff3;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
.griditem{
  color: #666;

  text-align: center;
  padding: .5em;
  .itemWrapper{
    padding: .25em;
    background-color: #fff;
    border-radius: .5em;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.2);
  }
  .gridbtn{
    padding: .25em;
    color: #fff;
    display: block;
    background-color: #333;
    margin: 0 auto;
    width: 100%;
    white-space: normal;
    i{
      font-size: 1.25em;
      margin: .125em 0;
    }
    div{
      span{
        text-transform: capitalize;
        font-weight: bold;
      }
      padding:0;
      margin:0;
    }
  }
  .red{
    background-color: @red;
  }
  .yellow{
    background-color: @yellow;
  }
  .green{
    background-color: @green;
  }
  .purple{
    background-color: @purple;
  }
  .input-group{
    margin: .125em auto;
    -ms-transform: scale(.75,.75); /* IE 9 */
    -webkit-transform: scale(.75,.75); /* Safari */
    transform: scale(.75,.75);
  }

}
.scoreboardWrapper{
  padding: 0;
  .scoreboard{
    border-radius:.5em;
    background-color: #333;
    color: #eee;
    padding: .75em;
    padding-top: .125em;
    margin-bottom: 1em;
    margin-top: .5em;
    font-size: 1.25em;
  }
  .input-group{
    -ms-transform: scale(.75,.75); /* IE 9 */
    -webkit-transform: scale(.75,.75); /* Safari */
    transform: scale(.75,.75);
    max-width: 30em;
  }
  h2{
    font-weight: bolder;
  }
}
button.gridbtn:hover{
  background-color: #EDC;
  color: #666;
  i{
    color: #333;
  }
}
footer{
  text-align: center;
  font-size: .9em;
}
.help{
  padding: 1em;
  font-size: 1.5em;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,.2);
}
.help{
  background-color: #fff;
  color: #333;
  p{
    margin-top: 0;
  }
  border-radius: 1em;
  margin-bottom: 1em;
}
.inf{
  max-width: 400px;
  margin: 0 auto;
}

nav{
  .nv{
    text-align: center;
    position: fixed;
    height: 43px;
    padding-top: 10px;
    bottom: 0;
    left:0;
    width: 100vw;
    z-index: 100;
    .btn-toolbar{
      display: inline-block;
      margin: 0 auto;
    }
    button.active{
      background-color: #393;
      color: #ccc;
    }
    background-color: #333;
  }
  .left{
    position: fixed;
    left: 13px;
    bottom: 13px;
    z-index: 200;
    font-size: .9em;
  }
}
.co{
  .gridbtn{
    background-color: #eee;
    color: #666;
  }
  .red{
    color: @red;
  }
  .yellow{
    color: @yellow;
  }
  .green{
    color: @green;
  }
  .purple{
    color: @purple;
  }
}
.container{
  padding: 0;
}
.vspace{
  margin-top: 1em;
  margin-bottom: 1em;
}
.indent{
  margin-left: 1em;
  margin-right: 1em;
}
.score{
  font-size: 1.5em;
  color: #E93;
}
